In [1]:
x = 3

In [2]:
type(x)

int

In [3]:
x = 6.2

In [4]:
type(x)

float

In [5]:
x = "String"

In [6]:
type(x)

str

In [7]:
# Python as Dynamically type  - No need to specify the datataype explicitly.

# Variable Declaration and Printing

In [9]:
var1 = 2
var2 = 5.0

In [10]:
var1

2

In [11]:
var2

5.0

In [12]:
type(var1)

int

In [13]:
type(var2)

float

In [14]:
# Printing the values
print(var1)

2

In [15]:
print(var2)

5.0

In [16]:
mystring = 'This is MLAP session' # Single or Double Quote

In [17]:
mystring1 = "This is 5th Session in MLAP"

In [19]:
print(mystring)

This is MLAP session

In [20]:
print(mystring1)

This is 5th Session in MLAP

In [21]:
# Operations

In [22]:
var1+var2

7.0

In [23]:
var1*var2

10.0

In [24]:
var1 ==2

True

In [26]:
var1 == var2

False

In [27]:
# Built in Functions

In [28]:
round (1.234)

1

In [29]:
round (1.234,2)

1.23

In [30]:
import math

In [31]:
math.ceil(1.2)

2

In [32]:
math.floor(1.2)

1

In [33]:
abs (-1.2)

1.2

In [34]:
pow (var1,2)

4

In [35]:
# sequence of Numbers
Num = range (1, 10)

In [37]:
Num

range(1, 10)

In [38]:
type(Num)

range

In [41]:
for i in Num :
    print (i)

1
2
3
4
5
6
7
8
9

In [42]:
len(Num)

9

In [43]:
for i in Num:
    print (i, end = "")# print Horizontally

123456789